.div {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.h1bgtext {
  z-index: 1000;
  padding: 1rem;
}

.hvrImg {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hvrImg img {
  width: 30vw;
  position: absolute;
  display: none;
  transform: translateX(-50%) translateY(-50%);
}

.motionPathDiv {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.footerDiv {
  height: 250px;
  background: #000;
  overflow: hidden;
  position: relative;
}

.motionFooterDiv {
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  align-items: center;
  padding: 2.5rem;
  position: relative;
}

.footerImgs {
  width: 80px;
  height: 80px;
}

.svgPath {
  width: 100vw;
  margin-bottom: 10rem;
}

.svgText {
  font-size: 6px;
  text-transform: uppercase;
}
