.div {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.h1bgtext {
  z-index: 1000;
  padding: 1rem;
}

/* Mouse Trail */

.hvrImg {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hvrImg img {
  width: 15vw;
  position: absolute;
  display: none;
  transform: translateX(-50%) translateY(-50%);
}

/* Footer and SVG text path */

.motionPathDiv {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.footerDiv {
  height: 250px;
  background: #000;
  overflow: hidden;
  position: relative;
}

.motionFooterDiv {
  height: 100%;
  width: 100%;
  background: #000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: 2.5rem;
  position: relative;
}

.footerImgs {
  width: 80px;
  height: 80px;
}

.footerWords {
  font-size: 1rem;
  color: white;
  border: 0.1rem solid white;
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.footerWords:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.svgPath {
  width: 100vw;
  margin-bottom: 10rem;
}

.svgText {
  font-size: 10px;
  text-transform: uppercase;
}

@media screen and (min-width: 30rem) {
  .svgText {
    font-size: 10px;
  }
  .footerWords {
    font-size: 2rem;
  }
}

/* Image pop menu */

.menuContainer {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 1rem;
}

.project {
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
  cursor: pointer;
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project p {
  font-size: 12vw;
  margin: 0px;
}

.project p:nth-of-type(1) {
  margin-right: 0.75vw;
}

.project p:nth-of-type(2) {
  margin-left: 0.75vw;
}

.project img {
  width: 10vw;
}
.project .imgContainer {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 0;
}

@media screen and (min-width: 30rem) {
  .project p {
    font-size: 8vw;
  }
}
